body {
  background-image: url('../images/bg.png');
  background-size: 100%;
  background-origin: content-box;
  -webkit-animation: estrellas linear 45s infinite alternate;
  animation: estrellas linear 45s infinite alternate;
}

@-webkit-keyframes estrellas{
  from{
  background-size: 80%;
  }
  to{
  background-size: 200%;
  }
}
@keyframes estrellas{
  from{
  background-size: 80%;
  }
  to{
  background-size: 200%;
  }
}

.content{
  width: 80%;
  margin: 0 auto;
}

.bubble-content { 
  width: 60%  ;
  height: 500px;
  float: left;
}

.datasets-wrapper {
  width: 40%;
  height: 400px;
  float: left;
  font-family: futura, sans-serif;
  color: rgba(255, 255, 255, 0.8);
}

.datasets-wrapper .name {
  font-size: 45px;
  white-space: nowrap;
}

.dataset .data-content {
  display: none;
}

.dataset .col-name {
  font-size: 23px;
  white-space: nowrap;
}

.dataset .col-value {
  font-size: 12px;
  opacity: 0.6;
  height: 200px;
}

.arrows {
  text-align: left;
}

.arrows img {
  height: 50px;
  cursor: pointer;
}

.arrow-prev,
.arrow-next {
  display: inline-block;
}


@media screen and (max-width: 960px) {
  .bubble-content { 
    width: 80%;
  }

}