body {
  background-image: url('../images/bg.png');
  background-size: 100%;
  background-origin: content-box;
  -webkit-animation: estrellas linear 45s infinite alternate;
  animation: estrellas linear 45s infinite alternate;
  height: 100%;
}

@-webkit-keyframes estrellas{
  from{
  background-size: 80%;
  }
  to{
  background-size: 200%;
  }
}
@keyframes estrellas{
  from{
  background-size: 80%;
  }
  to{
  background-size: 200%;
  }
}

.content{
  width: 80%;
  margin: 0 auto;
}

.bubble-content { 
  width: 60%  ;
  height: 500px;
  float: left;
}

.datasets-wrapper {
  width: 40%;
  height: 400px;
  float: left;
  font-family: futura, sans-serif;
  color: rgba(255, 255, 255, 0.8);
  padding: 10% 0;
}

.datasets-wrapper h3.name {
  font-size: 36px;
  text-transform: uppercase;
  margin: 10px 0 0 0;
}
.yellow{
  color: #fefe7e;
}
a.red{
  color: #d13446;
}
a.red:hover{
  background-color: rgba(209, 52, 70, 0.4);
}
a.red.selected{
  background-color: #ff4157;
  border-color: #ff4157;
  color: #000;
  cursor: default;
}
a.cyan{
  color: #00fffe;
}
a.cyan:hover{
  background-color: rgba(0, 255, 254, 0.4);
}
a.red, a.cyan{
  text-decoration: none;
  border: 1px solid;
  padding: 1px 5px;
  font-size: 14px;
  transition: all 0.3s;
}
.datasets-wrapper h4{
  margin: 6px 0;
  font-size: 21px;
}
.dataset .data-content {
  display: none;
}

.dataset .col-name {
  font-size: 23px;
  white-space: nowrap;
}

.dataset .col-value {
  font-size: 12px;
  opacity: 0.6;
  height: 200px;
}

.arrows {
  text-align: left;
}

.arrows img {
  height: 50px;
  cursor: pointer;
}

.arrow-prev,
.arrow-next {
  display: inline-block;
}


@media screen and (max-width: 960px) {
  .bubble-content { 
    width: 80%;
  }
  .datasets-wrapper{
    width: 100%;
  }

}
