.bubbletree-wrapper { 
  width: 40%;
  height: 500px;
  position: absolute; 
}


@media screen and (max-width: 960px) {
  .bubbletree-wrapper { 
    width: 80%;
  }

}

.bubbletree { 
  position: relative; 
  height: 100%; 
  overflow: hidden; 
}

.bubbletree .label { 
  position: absolute; 
  color: #fff; 
  text-align: center; 
  cursor: default; 
}

.bubbletree .amount { 
  font-family: Graublau, Georgia, sans-serif; 
  font-size: 16px; 
}

.bubbletree .desc { 
  font-family: futura, sans-serif; 
  color: #FFF;
  font-size: 14px;
  white-space: nowrap;
  text-transform: uppercase;
}

.bubbletree .label2 { 
  position: absolute; 
  text-align: center; 
  cursor: default; 
  font-size: 12px;
  font-family: futura ,sans-serif;
  margin-top:5px;
  text-transform: uppercase;
  color: rgba(255,255,255,0.7);
}

.loading {
  z-index: 1000;
  position: absolute;
  width: 700px;
  height: 400px;
}